@model LoanVM
@* <div id="loanModal-@Model.Id" >
	<div class="modal-background">
		<div class="modal w-50 h-25">
			<h2>Title:@Model.Title</h2>
			<h2>Loan Take date: @Model.CreateDate</h2>
			<p>Current Amount: @Model.LoanDetail?.CurrentAmount  <i class="fa-solid fa-dollar-sign"></i></p>
			<svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
				<rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
			</svg>
		</div>
	</div>
</div> *@



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="@Model.LoanDetail.Id" tabindex="-1" aria-labelledby="@Model.LoanDetail.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="modal-title fs-5" id="exampleModalLabel">@Model.CreateDate</p>
                <p class="modal-title fs-5" id="exampleModalLabel">@Model.LoanDetail?.CurrentAmount</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>